PORT=5050

AUTH_SECRET=personal_money_tracker_super_secret_jwt_key_2026

ADMIN_EMAIL=admin@student.com

ADMIN_PASSWORD=password123

GOOGLE_SHEET_ID=your_spreadsheet_id_here

GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email_here

GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
