PORT=5050
AUTH_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=admin@student.com
ADMIN_PASSWORD=password123
GOOGLE_SHEET_ID=your_spreadsheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email_here
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----"
